<mat-toolbar>
  <h1
    class="app-name"
    (click)="navigateTo('home')"
    role="tab"
  >SmartLock</h1>
  <span class="spacer"></span>
  <app-language-switcher/>
  <button matIconButton [matMenuTriggerFor]="menu" class="profile-button">
    <mat-icon>
      person
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before" class="profile-dropdown">
    <div class="menu-header">
      <span class="user-name">Imanol Limache</span>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item >
      <mat-icon>credit_card</mat-icon>
      <span>{{"topbar.menu.subscription" | translate}}</span>
    </button>

    <button mat-menu-item class="btn-signout">
      <mat-icon>logout</mat-icon>
      <span>{{"topbar.menu.sign-out" | translate}}</span>
    </button>
  </mat-menu></mat-toolbar>
<div class="content-wrapper">
  <router-outlet/>
</div>
