<table mat-table [dataSource]="people()">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First name</th>
    <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last name</th>
    <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="identityDocument">
    <th mat-header-cell *matHeaderCellDef>ID document</th>
    <td mat-cell *matCellDef="let element">{{element.identityDocument}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="peopleColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: peopleColumns"></tr>
</table>