<h2 matDialogTitle>Invite administrator</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select>
      @for (role of roleOptions; track role) {
        <mat-option [value]="role">{{ role }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose>Cancel</button>
  <button mat-button matDialogClose>Invite</button>
</mat-dialog-actions>
