<h1>Devices</h1>
<div class="filters">
  <div>

    <mat-form-field appearance="outline">
      <mat-label>Mode</mat-label>

      <mat-select>
        @for (option of modeOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>

      <mat-select>
        @for (option of statusOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Current site</mat-label>

      <mat-select>
        @for (option of siteOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <button matIconButton="outlined" (click)="openAddDeviceForm()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<app-devices-table [devices]="store.devices()"/>
