<h1>Administrators</h1>
<div class="filters">
  <div>
     <app-search-bar/>
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>

      <mat-select>
        @for (option of rolesOptions; track option) {
          <mat-option [value]="option">
            {{ option }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <button matIconButton="outlined" (click)="openInviteAdministratorForm()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<app-administrators-table/>
