<div class="dashboard-grid">
  <div class="left-column">
    <mat-card appearance="outlined" class="big-card">
      <mat-card-header>
        <mat-card-title>Recent access attempts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="recentAccessAttempts">
          <ng-container matColumnDef="person">
            <th mat-header-cell *matHeaderCellDef>Person</th>
            <td mat-cell *matCellDef="let element">{{element.person}}</td>
          </ng-container>
          <ng-container matColumnDef="deviceId">
            <th mat-header-cell *matHeaderCellDef>Device ID</th>
            <td mat-cell *matCellDef="let element">{{element.deviceId}}</td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef>Result</th>
            <td mat-cell *matCellDef="let element">{{element.result}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="recentAccessAttemptsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: recentAccessAttemptsColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-column">
    <mat-card class="small-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Recent alerts</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="small-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Offline devices</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="small-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>More information (today)</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
